<!-- <div class="panel panel-default">
  <div class="panel-body"> -->
  <%= semantic_form_for @response = Response.new, url: topic_responses_path(@topic), :html => { :class => "response" } do |f| %>
    <%=f.inputs do %>
      <%= f.input :content, input_html: {rows:3} %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
    <% end %>
  <% end %><!-- 
  </div>
</div> -->
